  <ion-header class="clear-bg-header">
    <ion-navbar>
	 <ion-title>
     {{'security' | translate}}
     </ion-title>
    </ion-navbar> 
  </ion-header>
  
  <ion-content class="clear-bg"> 
   <div class="es-60"></div>
   <div class="border-top"></div>
   <div class="es-45"></div>
     <div class="account-content">
        <form class="account-form" [formGroup]="passwordForm" novalidate (ngSubmit)="changePassword(passwordForm)">
            <div class="form-field-wrap">
               <label class="form-field-label">{{'pass_fied_1' | translate}}</label>
                <input formControlName="oldPass" [(ngModel)]="pass.password" name="passold" type="password" placeholder="{{'pass_placeholder_1' | translate}}" required />
                <div *ngIf="errorValid && passwordForm.controls.oldPass.hasError('required')" class="err-field">
                  <div class="form-err">{{ 'field_required' | translate }}</div>
                </div>
            </div>
            
            <div class="form-field-wrap">
               <label class="form-field-label">{{'pass_fied_2' | translate}}</label>
                <input formControlName="newPass" [(ngModel)]="pass.newpass" name="newpass" type="password" placeholder="{{'pass_placeholder_2' | translate}}" required />
                <div *ngIf="errorValid && passwordForm.controls.newPass.hasError('required')" class="err-field">
                  <div class="form-err">{{ 'field_required' | translate }}</div>
                </div>
            </div>
            
            <div class="form-field-wrap">
               <label class="form-field-label">{{'pass_fied_3' | translate}}</label>
                <input formControlName="newConfPass" [(ngModel)]="pass.confPass" type="password" placeholder="{{'pass_placeholder_3' | translate}}" match-password="newPass" name="passconfirm" required />
                <div *ngIf="errorValid && passwordForm.hasError('mismatchedPasswords')" class="err-field">
                    <div class="form-err">{{'not_to_match' | translate}}</div>
                </div>
                <div *ngIf="errorValid && passwordForm.controls.newConfPass.hasError('required')" class="err-field">
                  <div class="form-err">{{ 'field_required' | translate }}</div>
                </div>
            </div>
            <div class="es-15"></div>
            <div class="button-link">
                <input type="submit">
              {{'save' | translate}}
            </div>
        </form> 
    </div>    
  </ion-content>
